#lg-container{
    background: #F4F4FD;
    background-image: url('../img/asset\ 43.svg');
}

.left-div h1{
    font-size: 3rem;
}

.left-div h6{
    font-size: 20px;
    // color: rgb(170, 170, 170);
    font-weight: 400;
    word-spacing: 4px;
    line-height: 25px;
}

