.Middle-design{
    flex-direction: column;
    display: flex;
    text-align: center !important;
}

.for-doubble-logo{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/asset\ 37.svg');
    height: 80px;
}

.middle-img{
    height: 40px;
    width: 50px;
    z-index: -1;
    margin-top: 20px;
}


.Middle-design .Lowerdesign{
    width: 70px;
    height: 15px;
}